/*
Inspired by https://dribbble.com/shots/2235810-Loader-v6
*/

$dot-color: #fff; //#fd3739;
$dot-size: 20px;
$circle-size: 55px;
$animation-time: 5s;

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  //  background-color: #ff2c75; //#222a30;
  background: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loading-text {
    margin-top: 50px;
    color: #ff2c75;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;

    .one {
      margin-left: 5px;
      opacity: 0;
      -webkit-animation: dot 1.3s infinite;
      -webkit-animation-delay: 0s;
      animation: dot 1.3s infinite;
      animation-delay: 0s;
    }

    .two {
      opacity: 0;
      -webkit-animation: dot 1.3s infinite;
      -webkit-animation-delay: 0.2s;
      animation: dot 1.3s infinite;
      animation-delay: 0.2s;
    }

    .three {
      opacity: 0;
      -webkit-animation: dot 1.3s infinite;
      -webkit-animation-delay: 0.3s;
      animation: dot 1.3s infinite;
      animation-delay: 0.3s;
    }
  }

  .pie {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    background-image: linear-gradient(
      to right,
      transparent 50%,
      currentColor 0
    );
    color: #ff2c75;
  }

  .pie::before {
    content: "";
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    animation: spin 3s linear infinite, bg 6s step-end infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}
@keyframes bg {
  50% {
    background: #ff2c75;
  }
}

@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
