// === Variables =====
$font-size: 2.25rem;
$split-position: 49%;
$split-thickness: 4px;
$split-color: #ff2c75;
.menu-title {
  text-align: center;
  color: #fff;
  font-size: 38px;
  text-decoration: underline;
  text-decoration-color: #ff2c75;
  text-underline-position: under;
}
// === Menu <ul> =====
.Menu-list {
  font-size: $font-size;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  flex-direction: column;
  //align-items: center;
  height: 90vh;
  transform: rotateX(-10deg) rotateY(20deg); // overwritten by JS
  overflow-y: scroll !important;
  .Menu-list-item-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    &:hover {
      .Menu-list-item-label {
        opacity: 1;
      }
    }
    .Menu-list-item-label {
      font-size: 25px;
      color: $split-color;
      opacity: 0;
      transition: opacity 400ms ease 200ms;
    }
  }
}

// === Menu item =====
.Menu-list-item {
  position: relative;
  color: transparent;
  cursor: pointer;

  &.active-link {
    .Mask {
      color: #1976d2 !important;
    }
  }

  // === Split Line =====
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: $split-position;
    left: -5%;
    right: 30%;
    height: $split-thickness;
    border-radius: $split-thickness;
    margin-top: -($split-thickness / 2);
    background: $split-color;
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    z-index: 1;
  }
}

// === Top/bottom mask =====
.Mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: $split-color;
  top: 0;
  height: $split-position;
  transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);

  span {
    display: block;
  }
}

// === Bottom mask specific =====
.Mask + .Mask {
  top: $split-position - 0.1;
  height: 100 - $split-position + 0.1;

  span {
    transform: translateY(-$split-position);
  }
}

// === Where the fun stuff happens =====
.Menu-list-item:hover,
.Menu-list-item:active {
  .Mask {
    color: #fff;
    transform: skewX(12deg) translateX(5px);
  }
  .Mask + .Mask {
    transform: skewX(12deg) translateX(-5px);
  }
  &::before {
    transform: scale(1);
  }
}
