<h2 class="menu-title">Data Vizualization Examples</h2>

<div class="Menu">
  <ul class="Menu-list" data-offset="10">
    <div class="Menu-list-item-wrapper" *ngFor="let item of menuItems" >
      <li class="Menu-list-item"  [attr.data-offset]="item.offset" [routerLink]="[item.path]" routerLinkActive="active-link">
        {{item.label}}
        <span class="Mask"><span>{{item.label}}</span></span>
        <span class="Mask"><span>{{item.label}}</span></span>
      </li>
      <label class="Menu-list-item-label">{{item.type}}</label>
    </div>

  </ul>
</div>
