.chart {
  height: 100%;
  width: 100%;
  position: relative;

  svg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ::ng-deep {
      .y-text,
      .tick text {
        fill: #fff;
      }

      .tick,
      .tick line,
      .domain {
        stroke: #fff;
      }
    }
  }
  .tooltip {
    opacity: 0;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 5px;
    background: #ff2c75; //#222a30;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    color: #fff;
  }
}

.info {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 10px;
  .built-with {
    font-size: 35px;
    label {
      font-weight: 600;
      color: #ff2c75;
    }
  }
}
