<div class="chart-container">
  <mat-card class="chart-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="chart-title">{{title}}</mat-card-title>
      <mat-card-subtitle class="chart-sub-title">{{chartType}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <data-vizualization-loader [show]="loading"></data-vizualization-loader>
      <div class="content-view animated slideInRight"  *ngIf="showChart">
        <button class="control-button chart" title="chart button" (click)="showChart =  false">
             <img src="assets/images/icons/chart.png" alt="chart">
         </button>
         <ng-content select=".info"></ng-content>
      </div>
      <div class="content-view animated slideInRight" *ngIf="!showChart">
        <button class="control-button info" title="info button" (click)="showChart =  true">
             <img src="assets/images/icons/info.png" alt="info">
         </button>
        <ng-content select=".chart"></ng-content>
      </div>
    </mat-card-content>
  </mat-card>
</div>
