@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

%chart-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
}
.chart-container {
  background-color: #222a30; // #f2f2f2; //;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .chart-card {
    width: 80%;
    height: 90%;
    //  background-color: #ff2c75;
    background: #111111;

    overflow: hidden;

    .chart-title {
      margin-top: 0;
      text-align: center;
      font-size: 40px;
      @extend %chart-text;
    }
    .chart-sub-title {
      font-size: 24px;
      @extend %chart-text;
    }

    mat-card-content {
      .content-view {
        height: inherit;
        .control-button,
        ::ng-deep .control-button {
          position: absolute;
          top: 8px !important;
          right: 21px;
          background-color: transparent;
          border: none;
          vertical-align: middle;
          cursor: pointer;
          outline: none;
          z-index: 2;
          width: 24px;
          height: 24px;
          img {
            height: 32px;
            width: 32px;
          }
        }
      }

      height: 100%;
      ::ng-deep {
        data-vizualization-chart {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
