<data-vizualization-chart-container [title]="'Doping in Proffesionnal Bicycle Racing'" [chartType]="'Scatter Plot Chart'" [loading]="loading">
  <div class="chart">
    <svg id="cyclistChart"></svg>
  <div class="tooltip">

  </div>
  </div>
   <div class="info">
    <p>Scatter Plot Doping in Proffesionnal Bicycle Racing for the 35 fastest times ever up Alpe d’Huez.</p>
    <div class="built-with">
      <label>Library Used</label>: D3.js
    </div>
   </div>
</data-vizualization-chart-container>
