@import "../chart.scss";
#cyclistChart {
  ::ng-deep {
    .legend-text {
      fill: #fff;
    }
  }
}

.tooltip {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px !important;
}
