@import "../chart.scss";
@import url("https://fonts.googleapis.com/css?family=Exo:300");

.chart {
  .chart__pannel {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.open-right {
      .chart__pannel__left {
        flex-basis: 60% !important;
      }
      .chart__pannel__right {
        opacity: 1;
        flex-basis: 40% !important;
        transition: background-color 500ms ease 100ms;
      }
    }
    .chart__pannel__left,
    .chart__pannel__right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      box-sizing: border-box;
      perspective: 80em;
      perspective-origin: 200% 200%;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transition: flex-basis 500ms ease-in-out;
    }

    .chart__pannel__left {
      //background-color: rgba(254, 254, 254, 1);
      background: #111111;

      flex-basis: 100%;
      //  border: 2px solid #fff;

      #cryptoChart {
        -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
        width: unset;
        height: unset;
        path {
          shape-rendering: geometricPrecision;
          cursor: pointer;
        }
      }
    }
    .chart__pannel__right {
      flex-basis: 0;
      opacity: 0;
      //  border: 2px solid #fff;
      .content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        color: #fff;
        text-align: center;

        .name {
          line-height: 1.4em;
          .full-name {
            text-transform: capitalize;
            font-size: 2.5em;
            font-weight: 800;
          }
          span {
            display: flex;
            align-items: center;
            .logo {
              width: 36px;
              height: 36px;
              border-radius: 20px;
              margin-left: 20px;
            }
            .symbol {
              font-size: 2em;
              text-transform: uppercase;
              font-weight: 700;
              font-style: italic;
            }
          }
        }

        .coin-heat {
          width: 60%;
          .progress-bar {
            $bgColor: rgba(black, 0.1);
            $barHeight: 4px;
            height: $barHeight;
            border-radius: $barHeight;
            background-color: $bgColor;
            overflow: hidden;
            position: relative;
            margin: 10px 0;
            background-image: linear-gradient(90deg, white, white),
              linear-gradient(90deg, $bgColor, $bgColor);
            background-size: 0% 100%, 100% 100%;
            background-position: left top, left top;
            background-repeat: no-repeat;
            transition: background 200ms ease-in-out;
            transition-delay: 200ms;
          }
        }
        .price,
        .market-cap {
          .value {
            font-family: "Exo", sans-serif;
            //color: #529e0e;
            font-size: 2em;
            font-weight: bold;
          }
        }
      }
    }
  }
}
