<data-vizualization-chart-container [title]="'Interactive Top Cryptocurrency Coins'" [chartType]="'Pie Chart'" [loading]="loading">
  <div class="chart">
    <div class="chart__pannel" [ngClass]="{'open-right': showDetails}">
      <div class="chart__pannel__left">
        <svg id="cryptoChart"></svg>
      </div>
      <div class="chart__pannel__right" [ngStyle]="{'backgroundColor': activeCoin?.bgc}">
        <div class="content">
          <div class="name">
            <h1 class="full-name">{{activeCoin?.name}}</h1>
            <span> <h2 class="symbol">{{activeCoin?.symbol}}</h2> <img class="logo" [src]="activeCoin?.logo" alt=""></span>
          </div>
          <div class="coin-heat">
            <div class="value">{{activeCoin?.coinheat}}</div>
            <div role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'backgroundSize': activeCoin?.coinheat +'% 100%, 100% 100%'}" class="progress-bar"></div>
            <label>Coint Heat</label>
          </div>
          <div class="price">
             <div class="value">{{activeCoin?.price | currency}}</div>
            <label>Price</label>
          </div>
          <div class="market-cap">
            <div class="value">{{activeCoin?.cap}}</div>
            <label>Market Cap</label>
          </div>
          <div class="jurisdiction" *ngIf="activeCoin?.ico_jurisdiction">
            <h1 class="full-name">{{activeCoin?.ico_jurisdiction}}</h1>
            <label>ICO Jurisdiction</label>
          </div>
        </div>
        <button class="control-button chart" title="chart button" (click)="showDetails =  false">
             <img src="assets/images/icons/close.png" alt="chart">
         </button>

      </div>
    </div>
  <div class="tooltip">

  </div>
  </div>
  <div class="info">
   <p>Pie Chart showing the top Cryptocurrencies by market cap. <em>Click segment to see more details on coin</em>
</p>
   <div class="built-with">
     <label>Library Used</label>: D3.js
   </div>
  </div>
</data-vizualization-chart-container>
