@import "../chart.scss";

#usGdpChart {
  ::ng-deep {
    .bar {
      //fill: #222a30; //#071432;
    }
  }
}

.tooltip {
  align-items: center;
  justify-content: center;
  width: 120px;
  z-index: 10;
  overflow: visible;
}
