<data-vizualization-chart-container [title]="'United States GDP'" [chartType]="'Bar Chart'" [loading]="loading">

  <div class="chart">
    <svg id="usGdpChart"></svg>
    <div class="tooltip"></div>
  </div>
   <div class="info">
     <p>Bar chart representing united states of America's Gross Domestic Product for 275 years up 2015</p>
     <div class="built-with">
       <label>Library Used</label>: D3.js
     </div>

   </div>
</data-vizualization-chart-container>
