@import "~@angular/cdk/overlay-prebuilt.css";

$perspective: 60rem;
$font-size: 3.25rem;
$split-position: 49%;
$split-thickness: 4px;
$split-color: #ff2c75;
$white: #fff;

// === Settings =====
%font-settings {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}
.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-radius: 10px;
  .menu {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 40%;
    background: $split-color;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    left: -40%;
    top: 0;
    transition: left 300ms ease;
    &.open {
      left: 0 !important;
    }

    @extend %font-settings;
    background: linear-gradient(45deg, #02001f, #1f1b4e);
    height: 100%;
    border-right: 4px solid #ff2c75;
  }
  .content {
    .overlay {
      position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */

      &.show {
        display: block;
      }
    }
  }

  #bun {
    position: fixed;
    cursor: pointer;
    right: 15px;
    top: 25px;
    background: $split-color;
    width: 38px;
    height: 38px;
    border: 1px solid #444444;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #1f1f1f;
    overflow: hidden;

    .mmm-burger {
      position: relative;
      width: 25px;
      margin: 18px 7px 0;
      height: 3px;
      background: $white;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: $white;
        right: 0;
        top: -8px;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: $white;
        right: 0;
        top: 8px;
      }
    }
    &:before {
      content: "";
      top: -10px;
      left: -45px;
      width: 30px;
      height: 75px;
      position: absolute;
      opacity: 0;
      background: rgba(255, 255, 255, 0.2);
      transform: rotate(25deg);
      transition: left 300ms linear 50ms, opacity 20ms linear;
    }
    &:hover {
      &:before {
        opacity: 1;
        left: 100px;
      }
    }
  }
}
