
<div class="container">
  <div class="menu" [ngClass]="{'open': menuOpen}">
    <data-vizualization-menu></data-vizualization-menu>
  </div>
  <div class="content">
    <div class="overlay" (click)="menuOpen = false"  [ngClass]="{'show': menuOpen}"></div>
    <router-outlet (activate)="menuOpen = false"></router-outlet>
  </div>
   <div id="bun" (click)="menuOpen = true">
     <div class="mmm-burger">
  </div>
</div>
